@use "./variables" as*;
$card-width: 360px;

.careers {
  padding: 2rem;

  & > h2 {
    @include heading-style;  // Apply the heading-style mixin
    font-size: 3rem;
    text-align: center;
  }

  .section {
    h2 {
      font-size: 1.8rem;
      margin-bottom: 0.8rem;
      margin-left: 2rem;
      text-decoration: underline;
    }

    .cards {
      display: flex;
      overflow-x: auto;
      scroll-behavior: smooth;
      gap: 2.4rem;
      padding: 1rem 2rem 3rem;

      .card {
        display: flex;
        flex-direction: column;
        // width: $card-width;
        background-color: #f8f8f8;
        border-radius: 2rem;
        transition: all 0.3s ease-in-out;

        &:hover {
          box-shadow: rgba(42, 91, 197, 0.3) 0px 7px 29px 0px;
          scale: 1.02;
        }

        & img {
          width: $card-width;
          aspect-ratio: 4 / 3;
          object-fit: cover;
          border-radius: 2rem 2rem 0 0;
        }

        span {
          font-size: 1.2rem;
          text-align: center;
          padding: 0.6rem 0.4rem;
        }
      }
    }
  }

  ::-webkit-scrollbar {
    display: none;
  }
}
