@use "./variables" as *;

.hero {
  display: flex;
  flex-direction: column;
  gap: 2.8rem;
  height: 93vh;
  align-items: center;
  justify-content: center;

  .info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1.6rem;
  }

  .image-container {
    width: 75%;

    .decor::before {
      content: " ";
      display: flex;
      width: 100%;
      height: 6rem;
      background-color: aqua;
    }
  }

  div {
    text-align: center;
  }

  p {
    font-size: 1.1rem;
  }

  a {
    font-weight: 500;
    padding: 0.7rem 1.4rem;
    border: 2px solid $primary-color;
    border-radius: 0.5rem;
    background-color: $primary-color;
    color: #fff;
    transition: all 0.4s ease-in-out;

    // align
    display: flex;
    align-items: center;
    gap: 0.4rem;

    &:hover {
      background-color: $bg-color;
      color: $primary-color;
    }

    i {
      font-size: 1.4rem;
    }
  }
}

// In your main SCSS file or wherever you're using the services section
.services {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 3.2rem;
  padding: 4rem 0 4rem 0;

  h2 {
    @include heading-style;
    font-size: 3rem;
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 1rem 5rem;
    text-align: left;
    gap: auto;
    margin: 0 auto;

    .card {
      display: flex;
      flex-direction: column;
      align-items: center;

      img {
        width: 80%;
        aspect-ratio: 1 / 1;
        object-fit: cover;
      }

      span {
        font-size: 1.2rem;
        font-weight: 500;
      }
    }
  }
}

.testimonials {
  margin: 2rem 4rem;
  display: flex;
  gap: 2rem;
  flex: 1;
  .card {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background-color: #f9f9f9;

    i {
      color: gold;
    }

    & > div {
      display: flex;
      align-items: center;
      gap: 2rem;
      margin-bottom: 1rem;
    }

    .avatar {
      width: 3rem;
      border-radius: 2rem;
    }
  }
}