@use "./configure" as *;  // Import configure.scss and make its content accessible
@use "./header" as *;     // Import header.scss and make its content accessible
@use "./hero" as *;       // Import hero.scss and make its content accessible
@use "./careers" as *;    // Import careers.scss and make its content accessible
@use "./footer" as *;
@use "./personalized" as*;
@use "./variables" as *;  // Import variables.scss (no underscore and no .scss)


@media (width <= 1024px) {
  .hero {
    height: 83vh;
    p {
      font-size: 1.1rem;
    }
    .image-container {
      width: 100vw;
    }
  }

  .services {
    .cards {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media (width <= 768px) {
  .hero {
    .info {
      h1 {
        font-size: 2.6rem;
        margin: 0 auto;
      }
      p {
        padding: 0 2rem;
      }
    }

    .image-container {
      width: 100%;
    }
  }

  .services {
    padding: 0 3rem 5rem 3rem;
    h2 {
      font-size: 2.2rem;
    }

    .cards {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  footer {
    padding: 2rem;

    .column:nth-child(2),
    .column:nth-child(3) {
      display: none;
    }
  }
}

@media (width <= 425px) {
  header {
    flex-direction: column;
    gap: 0.3rem;
    nav ul {
      display: none;
    }
  }
  .hero {
    .info {
      h1 {
        font-size: 2rem;
        margin: 0 auto;
      }
      p {
        padding: 0 2rem;
        font-size: 1rem;
      }
    }

    .image-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      overflow: hidden;

      .decor {
        width: 100vw;
      }

      img {
        width: 600px;
      }
    }
  }

  .services {
    margin-top: 3rem;
    padding: 0 1rem 5rem 1rem;
    h2 {
      font-size: 2.2rem;
    }

    .cards {
      grid-template-columns: repeat(1, 1fr);
      gap: 1rem;
      margin: 0 auto;
    }
  }

  .testimonials {
    flex-direction: column;
    margin: 1.2rem;
    .card {
      width: 100%;
    }
  }

  footer {
    padding: 2rem;
    flex-direction: column;
    gap: 1rem;
    align-items: center;

    .column:nth-child(2),
    .column:nth-child(3) {
      display: none;
    }

    .column:last-child {
      gap: 1rem;
    }
  }
}